<!doctype html>
<html>
    <body>
        <form method="POST">
            Math Grade<br>
            <input name="math_grade"><br>
            Science Grade<br>
            <input name="science_grade"><br>
            History Grade<br>
            <input name="history_grade"><br>
            English Grade<br>
            <input name="english_grade"><br>
            Health Grade<br>
            <input name="health_grade"><br>
            Gym Grade<br>
            <input name="gym_grade"><br>
            Cycles Grade<br>
            <input name="cycles_grade"><br>
            World Languages Grade<br>
            <input name="wl_grade"><br>

            <input type="submit" value="Calculate GPA">
        </form>
    </body>
</html>
